<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <%- include("../partials/header.ejs") %>
</head>

<body>

    <div class="container">

        <h1 style="font-size:45px; text-align:center;" >Cadastrar</h1>
 
        <form action= "/livro" method="post">

           <input type="hidden" name="id" value="<%= livro.id %>">

            <div <%= escondido %> class="mb-3">
                <label class="form-label">Código</label>
                <input required type="number" value="<%= livro.codigo %>" class="form-control" name="codigo">
            </div>

            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" value="<%= livro.nome %>" required class="form-control" name="nome">
            </div>

            <div class="mb-3">
                <label class="form-label">Preço</label>
                <input type="number" value="<%= livro.preco %>" required class="form-control" name="preco">
            </div>

            <button type="submit" class="btn btn-dark" >Salvar</button>
            <a class="btn btn-dark" href="/">Voltar</a>
        </form>

    </div>

</body>

<foot>
    <%- include("../partials/footer.ejs") %>
</foot>


</html>